body {
  font-family: sans-serif
}

header {
  overflow: hidden;
  position: relative;
}

header #controls {
  display: none;
  flex-direction: column;
  width: fit-content;
}

#menu {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#menu:hover {
  background-color: #ddd;
  color: black;
}

summary {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, summary:hover {
  background-color: #555;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B'; /* plus sign */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* minus sign */
}

.content {
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.story {
  float: left;
  text-align: center;
  margin: 2px;
  border: 5px;
  display: none;
}

.show {
  display: contents;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.stories {
  display: flex;
  flex-direction: column-reverse;
}