:root {
  --dark-color: rgb(38, 36, 129);
  --light-color: rgb(110, 121, 158);
  --light-text: rgb(240, 240, 241);
  --dark-text: black
}

body {
  /* font-family: Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-text);
}

h1 {
  font-size: x-large;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: smaller;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  border-radius: 5px;
  border: 2px solid var(--dark-color);
  font-size: medium;
}

button:focus {
  outline: none;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

#menu-button {
  background-image: url('./images/menu_dark.png');
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 15px 0 5px;
}

#menu-button:active {
  background-image: url('./images/menu_light.png');
  background-color: var(--dark-color);
}

#controls {
  display: none;
  flex-direction: row;
  background-color: var(--light-text);
  padding: 10px;
  color: var(--dark-text);
}

#categories {
  margin-right: 20px;
}

#control-buttons {
  display: flex;
  flex-direction: column;
}

.control-button {
  width: fit-content;
  margin: 3px;
  padding: 3px;
  background-color: var(--light-text);
  color: var(--dark-text);
}

.control-button:active {
  background-color: var(--dark-color);
  color: var(--light-text);
}

#stories {
  display: flex;
  flex-direction: column;
}

.story {
  float: left;
  margin: 2px;
  border: 5px;
  display: none;
}

.tags {
  text-align: right;
  font-size: smaller;
  font-style: italic;
}

.show {
  display: contents;
}

summary {
  background-color: var(--dark-color);
  color: var(--light-text);
  cursor: pointer;
  padding: 18px;
}

summary:active {
  background-color: var(--light-color);
}

summary:focus {
  outline: none;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--light-text);
  color: var(--dark-text)
}

@media (hover: hover) {
  .control-button:hover {
    background-color: var(--dark-color);
    color: var(--light-text);
  }

  summary:hover {
    background-color: var(--light-color);
  }
  
  #menu-button:hover {
    background-image: url('./images/menu_light.png');
    background-color: var(--dark-color);
  }
  
}
